@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    box-sizing: border-box;
   
    
}
/*remove the scrollbar from  browser*/
::-webkit-scrollbar{
    display: none;
}